@model BuyOnline.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = "View";
}

<h2>@Model.Name</h2>
<ul>
    <li>Category: @Model.CategoryName</li>
    <li>Description: @Model.Description</li>
    <li>Price: @Model.Price</li>
</ul>